asgiref==3.4.1
attrs==21.2.0
backports.zoneinfo==0.2.1
colorama==0.4.4
Django==4.0.1
iniconfig==1.1.1
packaging==21.2
pluggy==1.0.0
py==1.11.0
PyMuPDF==1.19.1
pyparsing==2.4.7
pyPdf==1.13
PyPDF2==1.26.0
pytest==6.2.5
sqlparse==0.4.2
toml==0.10.2
tqdm==4.62.3
