<form action="{% url 'page:result' %}" method="post">
     {% csrf_token %}
<!--                         pass hidden information to the view-->
     {% if selected_statements_ids%}
        {% for i in selected_statements_ids %}
            <input type="hidden" name="alist_of_ids" value={{i}} />
        {% endfor %}
    {%endif%}
{#    <div class="input-group mb-3">#}
{#        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">#}
{#        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>#}
{#    </div>#}
        <div class="input-group flex-nowrap">
            <input class="" type="text" name="keyword" id="kw" placeholder="search/select" autocorrect="off" autocomplete="off">
            <button class="btn btn-sm btn-primary input-group" id="Add" name="add_to_table" value="" title="Add selected transactions to new table.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg>
            </button>
        </div>
 </form>

