<style>
        .table td.highlightable {
            background-color: rgba(78, 197, 100, 0.6);
        }
</style>

{% load static %}
    <table class="table table-light table-striped table-bordered">
        <thead class="table-secondary">
            <tr>
                {% if list_of_selected_transactions.0.dcount %}
                <th scope="col">Count</th>
                {% else %}
                <th scope="col">Date</th>
                {% endif %}
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i in list_of_selected_transactions %}
                <tr id="tr_transaction">
                    {% if i.dcount %}
                    <td>{{i.dcount}}</td>
                    {% else %}
                    <td class="text-nowrap">{{i.date}}</td>
                    {% endif %}
                    <td id="description" value={{i.id}}>{{i.description}}</td>
                    <td>{{ i.amount|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="reset-style text-center">Total</td>
                <td>{{total_selected_transactions|floatformat:2}}</td>
            </tr>
        </tbody>
    </table>
