.name {
    border: 1px solid black;
    padding: 0px 6px;
}
.select_all{
    border: 1px solid black;
    background-color: #b6b6b6;
    text-align: center;
}
.check-b{
    padding-bottom: 7%;
}


input {
     margin-top: 1rem;

    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

table {
      border-collapse: collapse;
}






/* CSS */
.button-83 {
  background-color: #b6b6b6;
  border: 1px solid black;
  border-radius: 3px;
  color: #374cc0;
  font-size: 80%;
  margin: 10px;

}

.button-83:active {
  background-color: grey;
}




 /*Revert CSS style of target element and its children*/
/*.reset-style, .reset-style * {*/
/*    all: revert;*/
/*}*/
