/*https://rgbacolorpicker.com*/

.contenuto{
    display:inline-block;
}



.mini_box{
    background-color: rgba(193, 193, 193, 0.3);
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
}






/*a:link{*/
/*    color: brown;*/
/*    text-decoration: none;*/
/*}*/
/*a:visited{*/
/*    color: cadetblue;*/
/*}*/
/*a:hover span{*/
/*    !*text-decoration: underline;*!*/
/*    border-width: 2px;*/
/*}*/
/*a:focus{}*/
/*a:active{*/
/*    color: #396567*/
/*}*/



.search_text{
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
}


.button-83 {
  background-color: #b6b6b6;
  border: 1px solid black;
  border-radius: 3px;
  color: #374cc0;
  font-size: 80%;
  margin: 5px;
}

.button-83:active {
  background-color: grey;
}

